# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Dependencies
node_modules/
packages/

# Environment variables
.env
.env.local

# Build output
dist/
build/

# IDE/Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
